<!-- Link to Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- CSS styles -->
<style>
    /* Remove underline from links on hover */
    a:hover {
        text-decoration: none;
    }

    /* Custom color for like and comment buttons */
    .like-comment-button {
        color: #333; /* Dark grey color */
    }

    /* Style for delete button */
    .delete-comment-button {
        margin-left: 10px; /* Adjust as needed */
        float: right; /* Move delete button to the right */
    }
</style>

<li id="comment-<%= comment._id %>" class="list-group-item">
   <div class="d-flex w-100 justify-content-between">
       <p class="mb-1">
           <%= comment.content %>
           <br>
           <small>
               <%= comment.user.name %>
           </small>
           <small>
               <% if (locals.user){ %>
                   <a class="toggle-like-button text-dark no-decoration like-comment-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
                       <i class="fas fa-thumbs-up"></i> <%= comment.likes.length %> Likes
                   </a>
               <% }else{ %>
                   <%= comment.likes.length %> Likes
               <% } %>
           </small>
       </p>
       <!-- Delete button for the comment -->
       <% if (locals.user && locals.user.id == comment.user){ %>
           <small>
               <a class="delete-comment-button text-danger" href="/comments/destroy/<%= comment.id %>">
                   <i class="fas fa-trash"></i>
               </a>
           </small>
       <% } %>
   </div>
</li>
